pandas
numpy
seaborn
gensim
nltk
scikit-learn
pytest
pytest-mock
requests
PyJWT
PyYAML
tqdm
langdetect
wordcloud
pyphen
xgboost
umap-learn[plot]
pomegranate==0.14.0
holoviews
mlxtend
scipy
joblib
statsmodels
scikit_posthocs
jupyter
transformers
datasets
torchmeta
